
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

#map {
	height: 100vh;
}

#loading-indicator {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 10000;
}

#about {
	position: absolute;
	right: 0;
	top: 0;
	width: 400px;
	z-index: 10000;
}